li {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

li label {
  float: left;
  cursor: pointer;
  display: flex;
  align-items: center;
}

li label input {
  vertical-align: middle;
  margin-right: 10px;
}

li button {
  float: right;
  display: none;
  margin-top: 3px;
  border: none;
  border-radius: 3px;
}

li::before {
  content: initial;
}

li:last-child {
  border-bottom: none;
}
