.todo-header input {
  width: 560px;
  height: 28px;
  font-size: 14px;
  padding: 4px 7px;
  border: 1px solid rgb(207, 204, 204);
}

.todo-header input:focus {
  outline: none;
  border-color: #c2c2c2;
}
