ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  line-height: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
}
ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}
ul li:nth-child(1) {
  background-color: #ff4848;
}
ul li:nth-child(2) {
  background-color: #288be6;
}
ul li:nth-child(3) {
  background-color: #2b8654;
}
ul li:nth-child(4) {
  background-color: #ea992d;
}
.axiosBox {
  margin: 20vh auto 0;
  padding: 10px;
}
#content {
  margin-top: 40px;
  padding: 10px 50px;
  color: #333;
}
